<% @posts.each do |post| %>
  <div class="posts">
    <div class="title">
		<%= link_to post.title, post %>
	</div>

	<div class="text">
		<%= simple_format(post.text.truncate(200)) %>
	</div>
  </div>
<% end %>
